<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <div style="display: flex;
                flex-direction: column;
                height: 100vh;
                overflow-y: hidden;">
      <mat-toolbar class="side">
        <app-logo />
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
        <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
        <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
      </mat-nav-list>
      <span style="
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 1rem;">
        <button mat-stroked-button color="accent" [routerLink]="['/logout']">
          <mat-icon>logout</mat-icon>Logout
        </button>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <ng-content select="[title]"></ng-content>
    </mat-toolbar>
    <div id="content" [class]="(isHandset$ | async) ? 'mobile' : ''">
      <ng-content select="[body]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>